*

!.gitignore

!Linear Regression/
!Linear Regression/linear_regression.py
!Linear Regression/linear_regression_example.ipynb
!Linear Regression/linear_regression_gradient.py


!Neural Networks/
!Neural Networks/number_recognition_network.py
!Neural Networks/number_recognition_test.ipynb