*

!.gitignore

!Linear Regression/
!Linear Regression/linear_regression.py
!Linear Regression/linear_regression_example.ipynb
!Linear Regression/linear_regression_gradient.py


!Neural Networks/
!Neural Networks/Number Recognition/
!Neural Networks/Number Recognition/Numpy Implementation/
!Neural Networks/Number Recognition/Numpy Implementation/number_recognition_network.py
!Neural Networks/Number Recognition/Numpy Implementation/number_recognition_test.ipynb
!Neural Networks/Number Recognition/PyTorch (Acceleration Only)/
!Neural Networks/Number Recognition/PyTorch (Acceleration Only)/number_recognition_test.ipynb
!Neural Networks/Number Recognition/PyTorch (Acceleration Only)/number_recognition_network.py